body{

background-image: url(https://img.freepik.com/vector-gratis/formulas-cientificas-dibujadas-mano-pizarra_23-2148496321.jpg?semt=ais_hybrid&w=740&q=80);
background-size: cover;
background-repeat:no-repeat ;

}

.MiCalculadora{

border-radius: 32px;
text-align: center;
width: 400px;
height: 350px;
position: absolute;
left: 800px;
top: 200px;
background-color: rgb(76, 90, 90);

}

button{

color: azure;
color: blueviolet;
width: 125px;
border-radius: 30px;
border: 0px solid azure;
margin-top: 25px;

}

h1, h2{

color: azure;

}